I spent an hour to figure out web scraping, but I did not understand how to get the specific page structure of 'M' only.

To fasten the read process, I have copied the table from Wikipedia into Excel and saved it in csv format

In [29]:
# import pandas and dataframe
import pandas as pd

df = pd.read_csv('Post_Codes_Toronto.csv', delimiter = ';')
df.head()

  Postal Code       Borough                           Neighbourhood
0         M1A  Not assigned                            Not assigned
1         M1B   Scarborough                          Malvern, Rouge
2         M1C   Scarborough  Rouge Hill, Port Union, Highland Creek
3         M1E   Scarborough       Guildwood, Morningside, West Hill
4         M1G   Scarborough                                  Woburn

In [35]:
# quick check dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [42]:
# check Boroughs for 'Not assigned'
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [41]:
# drop Boroughs 'Not assigned'
df = df[df.Borough != 'Not assigned']

In [49]:
# check Neighbourhood for 'Not assigned'
f['Neighbourhood'].value_counts()

Downsview                                                            4
Don Mills                                                            2
Woodbine Heights                                                     1
Lawrence Manor, Lawrence Heights                                     1
Glencairn                                                            1
                                                                    ..
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park    1
St. James Town                                                       1
Davisville North                                                     1
Upper Rouge                                                          1
First Canadian Place, Underground city                               1
Name: Neighbourhood, Length: 99, dtype: int64

In [50]:
# check more specific Neighbourhood for 'Not assigned'
df[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [52]:
# shape of dataframe
df.shape

(103, 3)